<!DOCTYPE html>
<html>

  <head>
    <title>IOT login</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="alertify.js"></script>
    <link rel = "stylesheet" href = "/css/alertify.css" />
    <link rel = "stylesheet" href = "/css/themes/default.css" id = "toggleCSS" />
  </head>

  <body background="bg.jpg">

    <div class="login-div">
      <h1>LOG IN</h1>
      <p class="text">Log in to get in the moment updates on the things<br/> that interest you.</p>

      <form method="POST" action='/login/user'>
        <div class="field">
          <i class="fas fa-user-circle"></i>
          <input class="input" type="text" id="Username" class="Username" name="username" required>
          <label for="Username">Username</label>
        </div>

        <div class="field">
          <i class="fas fa-lock"></i>
          <input class="input" type="password" class="Password" id="Password" name="password" required>
          <label for="Password">Password</label>
        </div>

        <input type="submit" value="LOG IN" class="button1">
        <p class="text" type="massage">Don't have account? <a href="/signup">Create Account</a></p>

      </form>

      <div class="footer">
        <p>Sign Up with social media</p>
        <a href="http://www.google.com"><i class="fab fa-google"></i></a>
        <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
      </div>

    </div>
    <script>
      var ferr = <%= err %>;
      if(ferr == true){
        alertify.error('FAILED');
      }
    </script>
  </body>

</html>
